.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    widows: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86,165,235,0.25);
    background-color: #fff;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
}
.correct{
    background-color: rgb(123, 255, 47);
    box-shadow: 0 0.4rem 1.4rem rgba(123, 255, 47,0.8);

}
.incorrect{
    background-color: rgb(250, 17, 17);
    box-shadow: 0 0.4rem 1.4rem rgba(241, 23, 23,0.5);
}

h1{
    color: rgb(86, 165, 235);
    border-bottom: none;
}
#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align:center;
    font-size: 2rem;
}
#progress-bar{
width: 20rem;
height: 4rem;
border: 0.3rem solid #56a5eb;
margin-top: 1.25rem;
}
#progressBarFull{
    height:3.4rem;
    background-color: #56a5eb;
    width: 0%;
}